{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<!-- jQuery -->
<script src="/examples/libs/jquery/jquery-3.4.1.min.js"></script>
<!-- Bootstrap JS -->
<script src="/examples/libs/bootstrap-4/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'main_page/js/minimized.js' %}"></script>


